* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color:chocolate;
}

hr { 
    height: 2px; 
    background-color: azure; 
    border: none; 
} 

h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 3.5em;
    color: aliceblue;
    margin: 15px;
}

.game {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

@media (max-width: 1140px) {
    .game {
        flex-direction: column;
    }
}


.player1,.player2 {
    border-radius: 24px;
    width: 20%;
    min-width: 400px;
    aspect-ratio: 1 / 1;
    background-color: aliceblue;
    margin: 20px 10px 45px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* gap: 20%; */
}

@media (max-width: 500px) {
    .player1, .player2 {
        min-width: 250px;
        width: 80%;
    }
}

.name {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: olivedrab;
    width: 100%;
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
}
.dice {
    background-color: aliceblue;
    width: 100%;
    flex: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
}

img {
    width: 50%;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin-top: 10px;
    color: aliceblue;
    font-size: 18px;
}

